<nav class="navbar navbar-expand-lg bg-warning position-sticky mb-30">
    <div class="container">
        <a class="navbar-brand fw-bold" routerLink="/home">
            <!-- <i class="fa fa-shopping-bag me-2"></i>MyShop -->
            <!-- <img src="images/menu/logo/1.jpg" alt=""> -->
             
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link px-3" routerLink="/home" routerLinkActive="active" 
                       [routerLinkActiveOptions]="{exact: true}">
                        <i class="fa fa-home mx-1"></i> {{"Home" | translate}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" routerLink="/products" routerLinkActive="active">
                        <i class="fa fa-box-open mx-1"></i> {{"Products" | translate}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" routerLink="/categories" routerLinkActive="active">
                        <i class="fa fa-list mx-1"></i> {{"Categories"| translate}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" routerLink="/brands" routerLinkActive="active">
                        <i class="fa fa-tags mx-1"></i> {{"Brands" | translate}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" routerLink="/allorders" routerLinkActive="active">
                        <i class="fa fa-shopping-cart mx-1"></i> {{"Cart" | translate}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" routerLink="/contact" routerLinkActive="active">
                        <i class="fa fa-envelope mx-1"></i> {{"Contact" | translate}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" routerLink="/about" routerLinkActive="active">
                        <i class="fa fa-info-circle mx-1"></i> {{"About" | translate}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" routerLink="/order" routerLinkActive="active">
                        <i class="fa-solid fa-clipboard-list mx-2"></i>
                       {{"All Reports" | translate}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>