<div class="product-area pt-60 pb-50">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="li-product-tb">
                  <ul class="nav li-product-menu">
                      <li><a data-toggle="tab"><span>{{"Products" | translate}}</span></a></li>
                  </ul>
              </div>
          </div>
      </div>
    
      <div class="tab-content">
          <div id="li-new-product" class="tab-pane active show" role="tabpanel">
              <div class="row">
                  <div class="product-active">
                      <owl-carousel-o [options]="carouselOptions">
                          <ng-container *ngFor="let product of products">
                              <ng-template carouselSlide>
                                  <div class="small-product-card">
                                      <app-product-cart [product]="product"></app-product-cart>
                                  </div>
                              </ng-template>
                          </ng-container>
                      </owl-carousel-o>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>