  <div class="product-area pt-60 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="li-product-tb">
                    <ul class="nav li-product-menu">
                        <li><a class="active" data-toggle="tab" href="#li-new-product"><span>New Arrival</span></a></li>
                        <li><a data-toggle="tab" href="#li-bestseller-product"><span>Bestseller</span></a></li>
                        <li><a data-toggle="tab" href="#li-featured-product"><span>Featured Products</span></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="tab-content">
            <div id="li-new-product" class="tab-pane active show mx-auto text-center" role="tabpanel">
                <div class="row">
                    <div class="product-active ">
                        <owl-carousel-o [options]="carouselOptions">
                            <ng-container *ngFor="let product of products">
                                <ng-template carouselSlide>
                                  <app-product-cart [product]="product"></app-product-cart>
                              </ng-template>
                            </ng-container>
                        </owl-carousel-o>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
